<section class="section" id="personal_project">
    <h2 class="title-thin text-muted">个人作品</h2>
    <div class="pf-wrap">
        <div class="pf-grid">

        <div class="pf-grid-sizer"></div><!-- used for sizing -->


            <div class="pf-grid-item photography">
                <div class="project">
                    <figure class="portfolio-figure">
                        <img src="https://ae02.alicdn.com/kf/H91d7ab5bfb8b40579a81be1f727ff1444.png" alt="">
                    </figure>
                    <div class="portfolio-caption text-center">
                        <div class="valign-table">
                            <div class="valign-cell">
                                <h2 class="text-upper">秀洲区生态环境综合管理平台</h2>
                                <p>综合水环境管理平台，实现水环境数据信息的自动采集、智能分析、综合显示。</p>
                                <a href="#pf-popup-1" class="pf-btn-view btn btn-primary">详情</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="pf-popup-1" class="pf-popup clearfix">
                    <div class="pf-popup-col1">
                        <div class="pf-popup-media" style="background-image: url(https://ae02.alicdn.com/kf/H91d7ab5bfb8b40579a81be1f727ff1444.png); background-repeat: no-repeat;background-size: contain;background-position:center;">
                        </div>
                    </div><!-- .pf-popup-col1 -->

                    <div class="pf-popup-col2">
                        <div class="pf-popup-info clear-mrg">
                            <h2 class="text-upper">秀洲区生态环境综合管理平台</h2>
                            <p class="text-muted"><strong>VUE / ElementUI / ECharts / WebSocket</strong></p>
                            <!-- <dl class="dl-horizontal">
                                <dt>Demo展示地址:</dt>
                                <dd><a href="https://gitee.com/xiaodan_yu/resume.io">Demo</a></dd>
                            </dl> -->
                            <p>通过建设自动监测站和远程视频监控，并且整合多个部门的已有系统，形成一个综合水环境管理平台，实现水环境数据信息的自动采集、智能分析、综合显示。</p>
                        </div><!-- .pf-popup-info -->

                    </div><!-- .pf-popup-col2 -->
                </div><!-- .pf-popup -->
            </div><!-- .pf-grid-item -->

            <div class="pf-grid-item photography">
                <div class="project">
                    <figure class="portfolio-figure">
                        <img src="https://ae01.alicdn.com/kf/Hc26692253a06480bb8e89a6d4b134275E.png" alt="">
                    </figure>
                    <div class="portfolio-caption text-center">
                        <div class="valign-table">
                            <div class="valign-cell">
                                <h2 class="text-upper">秀水泱泱商城（微信小程序）</h2>
                                <p>从注册审核、UI设计、开发上架完整搭建公司小程序版本商城</p>
                                <a href="#pf-popup-2" class="pf-btn-view btn btn-primary">详情</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="pf-popup-2" class="pf-popup clearfix">
                    <div class="pf-popup-col1">
                        <div class="pf-popup-media" style="background-image: url(https://ae02.alicdn.com/kf/Hcf9d4c1ecbde4ee29ddea22cc84dba60I.png); background-repeat: no-repeat;background-size: contain;background-position:center;">
                        </div>
                    </div><!-- .pf-popup-col1 -->

                    <div class="pf-popup-col2">
                        <div class="pf-popup-info clear-mrg">
                            <h2 class="text-upper">秀水泱泱商城（微信小程序）</h2>
                            <p class="text-muted"><strong>weapp / vant-weapp </strong></p>
                            <!-- <dl class="dl-horizontal">
                                <dt>Demo展示地址:</dt>
                                <dd><a href="https://gitee.com/xiaodan_yu/resume.io">Demo</a></dd>
                            </dl> -->
                            <p>从注册审核、UI设计、开发上架完整搭建公司小程序版本商城</p>
                        </div><!-- .pf-popup-info -->

                    </div><!-- .pf-popup-col2 -->
                </div><!-- .pf-popup -->
            </div><!-- .pf-grid-item -->

            <div class="pf-grid-item photography">
                <div class="project">
                    <figure class="portfolio-figure">
                        <img src="https://ae03.alicdn.com/kf/Hf828065f55f1430cafe62708caf888c3r.png" alt="">
                    </figure>
                    <div class="portfolio-caption text-center">
                        <div class="valign-table">
                            <div class="valign-cell">
                                <h2 class="text-upper">捷顺数字综合性数据管理/分析/运营管理平台</h2>
                                <p>集数据管理、数据分析、电商运营辅助的综合性管理平台，负责全部前端开发。包含综合性项目四个：电商活动页定制、数据库/过滤器可视化操作、数据大屏可视化搭建、定制页链接监控管理等，同时包含其他帮助公司运营的一些小插件。</p>
                                <a href="#pf-popup-3" class="pf-btn-view btn btn-primary">详情</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="pf-popup-3" class="pf-popup clearfix">
                    <div class="pf-popup-col1">
                        <div class="pf-popup-media" style="background-image: url(https://ae03.alicdn.com/kf/Hf828065f55f1430cafe62708caf888c3r.png); background-repeat: no-repeat;background-size: contain;background-position:center;">
                        </div>
                    </div><!-- .pf-popup-col1 -->

                    <div class="pf-popup-col2">
                        <div class="pf-popup-info clear-mrg">
                            <h2 class="text-upper">捷顺数字综合性数据管理/分析/运营管理平台</h2>
                            <p class="text-muted"><strong>VUE / ElementUI / WebSocket / ECharts / AntV-X6 </strong></p>
                            <!-- <dl class="dl-horizontal">
                                <dt>Demo展示地址:</dt>
                                <dd><a href="https://gitee.com/xiaodan_yu/resume.io">Demo</a></dd>
                            </dl> -->
                            <p>集数据管理、数据分析、电商运营辅助的综合性管理平台，负责全部前端开发。包含综合性项目四个：电商活动页定制、数据库/过滤器可视化操作、数据大屏可视化搭建、定制页链接监控管理等，同时包含其他帮助公司运营的一些小插件。</p>
                        </div><!-- .pf-popup-info -->

                    </div><!-- .pf-popup-col2 -->
                </div><!-- .pf-popup -->
            </div><!-- .pf-grid-item -->

        </div>
    </div>
</section><!-- .section -->