<section class="section brd-btm" id="education">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">教育经历</h2>

            <div class="ref-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/school.jpg' | prepend: site.baseurl }}" class="avatar avatar-54 photo" height="54" width="54">
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>浙江理工大学科艺学院</strong>
                        <span>2011.9 - 2015.6 | 电子信息科学与技术</span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
                        <p>学习计算机、电路、嵌入式系统、单片机等专业知识。</p>
                        <p>获得系三等奖学金、足球比赛系/校级第一名证书。</p>
                        <p>曾担任校内足球社社长一职，举办多场校级比赛。</p>
                    </blockquote>
                </div>
            </div><!-- .ref-box -->
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->