<section class="section brd-btm" id="experience">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">工作经历</h2>
            <br />
            <div class="education">
                <!-- <div class="education-box">
                    <time class="education-date" datetime="2016-01TNow">
                        <span>Jan <strong class="text-upper">2016</strong> - <strong>Now</strong></span>
                    </time>
                    <h3>Java Developer</h3>
                    <span class="education-company">央企ERP项目 | 大连IBM</span>
                    <p>使用技术为struts, hibernate, spring等等</p>
                    <p>负责项目中服务开发</p>
                    <p>参与部分需求调研</p>
                    <p>。。。</p>
                </div> -->
                <!-- .education-box -->

                <div class="education-box">
                    <time class="education-date" datetime="2014-09T2016-01">
                        <span><strong class="text-upper">2020.07</strong> - <strong>Now</strong></span>
                    </time>
                    <h3>前端开发工程师</h3>
                    <span class="education-company">浙江嘉兴捷顺数字科技（集团）股份有限公司</span>
                    <p>前端开发工程师</p>
                    <p>负责公司在线商城APP优化、微信小程序商城开发、运营数据分析平台开发、运营活动页搭建平台开发</p>
                    <p>应用技术：uni-app、微信小程序、VUE、ElementUI、ECharts、AntV</p>
                </div>

                <div class="education-box">
                    <time class="education-date" datetime="2014-09T2016-01">
                        <span><strong class="text-upper">2019.10</strong> - <strong>2020.06</strong></span>
                    </time>
                    <h3>前端开发工程师</h3>
                    <span class="education-company">浙江嘉科信息科技有限公司</span>
                    <p>前端开发工程师</p>
                    <p>负责公司项目前端开发</p>
                    <p>应用技术：VUE、Vuetify、ElementUI、ECharts、AntV</p>
                </div>

                <div class="education-box">
                    <time class="education-date" datetime="2014-09T2016-01">
                        <span><strong class="text-upper">2018.01</strong> - <strong>2018.10</strong></span>
                    </time>
                    <h3>前端开发</h3>
                    <span class="education-company">嘉兴东越信息技术有限公司</span>
                    <p>前端开发</p>
                    <p>负责公司在线商城、小程序商城开发</p>
                    <p>应用技术：VUE、uni-app、vant、微信小程序</p>
                </div>


                <div class="education-box">
                    <time class="education-date" datetime="2014-09T2016-01">
                        <span><strong class="text-upper">2016.08</strong> - <strong>2017.12</strong></span>
                    </time>
                    <h3>前端</h3>
                    <span class="education-company">嘉兴市金麒网络科技有限公司</span>
                    <p>前端</p>
                    <p>负责网站建设</p>
                    <p>应用技术：Bootstrap、jQuery</p>
                </div>

                <div class="education-box">
                    <time class="education-date" datetime="2014-09T2016-01">
                        <span><strong class="text-upper">2014.07</strong> - <strong>2015.04</strong></span>
                    </time>
                    <h3>前端</h3>
                    <span class="education-company">杭州硅易科技有限公司（现：校宝在线（杭州）科技股份有限公司）</span>
                    <p>前端</p>
                    <p>参加公司内部前端培训、参与在线考试系统前端部分界面开发</p>
                    <p>应用技术：Backbone、Angular、jQuery</p>
                </div>
            </div>
        </div>
    </div>
</section><!-- .section -->